{% extends "base.html" %}
{% load static %}

{% block title %}
    My Expenses
{% endblock %}

{% block content %}
    <h1>
        My Expenses ({{ object_list.count }})
    </h1>

    <form class="form-inline mb-2">
        <input type="search" name="q">
        <label>
            <input type="checkbox" name="description" value="1">
            Search Descriptions?
        </label>
        <button class="btn btn-sm btn-primary">Search</button>
    </form>

    <table class="table table-striped table-hover">
        <tr>
            <th>
                #
            </th>
            <th>
                Category
            </th>
            <th>
                Title
            </th>
            <th>
                Amount
            </th>
            <th>
                Date
            </th>
        </tr>
        {% for object in object_list %}
            <tr>
                <td>
                    <a href="{% url "expenses:detail" object.id %}">
                        {{ object.id }}
                    </a>
                    <span class="star {% if object.is_star %}star-on{% else %}star-off{% endif %}" data-url="{% url "expenses:star" object.id %}">
                        <img class="full" src="{% static "svg-icons/star-fill.svg" %}" alt="" width="18" height="18" title="Unstar">
                        <img class="empty" src="{% static "svg-icons/star.svg" %}" alt="" width="18" height="18" title="Star">
                        <img class="reloader" src="{% static "svg-icons/star-half.svg" %}" alt="" width="18" height="18" title="Refreshing....">
                    </span>
                </td>
                <td class="expense_title nice">
                    {{ object.category }}
                </td>
                <td class="expense_title nice">
                    {{ object.title }}
                </td>
                <td>
                    ${{ object.amount }}
                </td>
                <td class="nice">
                    {{ object.date }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block scripts %}
    <script src="{% static "js/expense_list.js" %}"></script>
{% endblock %}

