<h1>
    My Expenses
</h1>

<table border="1">
    <tr>
        <th>
            #
        </th>
        <th>
            Title
        </th>
        <th>
            Amount
        </th>
        <th>
            Date
        </th>
    </tr>
    {% for object in object_list %}
        <tr>
            <td>
                <a href="{% url "expenses:detail" object.id %}">
                    {{ object.id }}
                </a>
            </td>
            <td>
                {{ object.title }}
            </td>
            <td>
                ${{ object.amount }}
            </td>
            <td>
                {{ object.date }}
            </td>
        </tr>
    {% endfor %}
</table>
