{% extends "base.html" %}

{% block title %}
    My Expenses
{% endblock %}

{% block content %}
    <h1>
        My Expenses
    </h1>

    <form class="form-inline mb-2">
        <input type="search" name="q">
        <button class="btn btn-sm btn-primary">Search</button>
    </form>

    <table class="table table-striped table-hover">
        <tr>
            <th>
                #
            </th>
            <th>
                Title
            </th>
            <th>
                Amount
            </th>
            <th>
                Date
            </th>
        </tr>
        {% for object in object_list %}
            <tr>
                <td>
                    <a href="{% url "expenses:detail" object.id %}">
                        {{ object.id }}
                    </a>
                </td>
                <td class="expense_title nice">
                    {{ object.title }}
                </td>
                <td>
                    ${{ object.amount }}
                </td>
                <td class="nice">
                    {{ object.date }}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
